body{
    font-weight: 500;
    padding-top: 92px;
}
/* Utilities */
.w-100px{
    width: 100px;
}
.button-custom{
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.rounded-6rem{
    border-radius:0.6rem;
}
.chevron-down{
    width: 8px;
}
.f-size-10{
    font-size: 10px;
}
.f-size-15{
    font-size: 15px;
    
}
.f-size-18{
 font-size: 18px;
}
.f-size-20{
    font-size: 20px;;
}
.f-size-0-85{
    font-size: 0.85rem;
}
.f-size-0-95{
    font-size: 0.95rem;
}
.f-size-1-1{
    font-size: 1.1rem;
}
.list-style-type{
    list-style-type: none;
}
/* Header */
header{
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    --bs-bg-opacity: 1;
}


/* Jumbo */
#jumbotron{
    background-image: url(../img/jumbo-bg.png); 
}
    
.bg-propriety{
    background-position: top center; 
    background-size: cover;
    padding-top: 230px;
}


#jumbotron-bottom{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg); 
}

/* Color */
.bg-black{
    background-color: #000;
}
.bg-light-black{
    background-color: #363636;
}
.bg-orange{
    background-color:#cd3d0f;
}
.bg-grey{
    background-color: #C1BDBC;
}
.bg-light-grey{
    background-color: #d9dadc;
}
.bg-blue{
    background-color: #161c3b;
}
.bg-light-blue{
    background-color:#00439C;
}
/** HOVER **/
/* hover sulle a */
.navbar-light .navbar-nav .nav-link.active{
    color: grey;
}
.navbar-light .navbar-nav .nav-link.active:hover{
    color: black;
}
/* hover su button-custom */
#button-header .button-custom:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px black;
}
.btn-jumbo:hover.button-custom{
    box-shadow: 0 0 0 2px black, 0 0 0 3px #cd3d0f;
}
.btn-primary:hover.button-custom{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #2d64e6;
}
#btn-psplus:hover.button-custom{
    box-shadow: 0 0 0 2px #2d64e6, 0 0 0 4px #d9dadc;
}
#btn-psnow.button-custom:hover{
    box-shadow: 0 0 0 2px #000, 0 0 0 3px #fff;
}
/* animazione sulle img dei giochi */
#games [class^=col]:hover{
    animation: transitiony 0.5s ease  1;
}
#games img:hover{
    border: 2px solid #2d64e6;
}
@keyframes transitiony {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-15px);
    }
}