body{
    font-weight: 500;
    padding-top: 90px;
}

#psfive-figure .col{
    border: 1px solid chocolate;
    flex-shrink: 0;
    flex-grow: 0;
}

/* Utilities */
.w-100px{
    width: 100px;
}
.button-custom{
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
}
.rounded-6rem{
    border-radius:0.6rem;
}
.chevron-down{
    width: 8px;
}
.f-size-10{
    font-size: 10px;
}
.f-size-15{
    font-size: 15px;
    
}
.f-size-18{
 font-size: 18px;
}
.f-size-20{
    font-size: 20px;;
}
.f-size-0-85{
    font-size: 0.85rem;
}
.f-size-0-95{
    font-size: 0.95rem;
}
.list-style-type{
    list-style-type: none;
}
/* Header */
header{
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity));
    --bs-bg-opacity: 1;
}


/* Jumbo */
#jumbotron{
    width: 100vw;
    height: 400px;
    position: relative;
    background-image: url(../img/jumbo-bg.png); 
    background-position: center; 
    background-size: cover;
}
#jumbotron .container{
    position: absolute;
    bottom: 25px;
}


/* jumbotron-bottom */
#jumbotron-bottom{
   position: relative;
   
}
#jumbotron-bottom .container{
    position: absolute;
    top:30px;
}
.takes-two-banner-img{
    height: 450px;
    width: 100%;
    object-fit:cover;
    object-position: center;
}
/* Color */
.bg-black{
    background-color: #000;
}
.bg-light-black{
    background-color: #363636;
}
.bg-orange{
    background-color:#cd3d0f;
}
.bg-grey{
    background-color: #C1BDBC;
}
.bg-light-grey{
    background-color: #d9dadc;
}
.bg-blue{
    background-color: #161c3b;
}
.bg-light-blue{
    background-color:#00439C;
}