body{
    font-weight: 500;
}
/* TO DO REMOVE */
.container-fluid{
    border: 1px dashed red;
}
.container{
    border: 1px dashed yellow;
}
[class^=col]{
    border: 1px dashed green;
}
.row{
    border: 1px dashed black;
}


#jumbotron, #jumbotron-bottom{
    border: 1px dashed red;
    height: 500px;
}
#jumbotron .container,
#jumbotron-bottom .container{
    position: relative;
    height: 500px;
}

#jumbotron .col-12,
#jumbotron-bottom .col-12{
    position: absolute;
    bottom: 0;
    left: 0;
}
#games .col-6{
    height: 150px;
}
#psfive-figure .col{
    min-width: 150px;
    flex-grow: 0;
}

@media screen and (min-width: 768px){
    #psfive-figure .row{
        justify-content: space-between;
    }
}
/* Utilities */
.button-custom{
    border-radius: 20px;
    font-weight: bold;
}
.chevron-down{
    width: 8px;
}
/* Header */

#main-header .bi-list{
    font-size: 24px;
    border: 1px solid ;
}

/* Color */
.bg-black{
    background-color: #000;
}
.bg-light-black{
    background-color: #363636;
}